.forgetpassword-form {
  margin: auto;
  margin-top: 180px;
  width: 50%;
  border: 2px solid grey;
  padding: 10px;
  flex-direction: row;
  border-radius: "30px";
  justify-content: "space-between";
}

.forgetpassword-body {
  display: flex;
  flex-direction: column;
}
