.forgetpassword-form {
  margin-top: 85px;
  width: 50%;
  border: 2px solid grey;
  padding: 10px;
  position: absolute;
  flex-direction: row;
  margin-left: 350px;
  max-width: 450px;
  border-radius: "30px";
  justify-content: "space-between";
}
