.homepage {
  height: 100%;
}

.homepage_header {
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.homepage_header_logo {
  width: 100px;
  height: 100%;
  flex-direction: flex;
  flex-direction: row;
  align-items: center;
}

.homepage_header_logo > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.homepage_header_titles {
  font-size: large;
  
}
.homepage_header_login{
    margin-left: 950px;
}
.homepage_header_register{
    margin-left: 20px;
}
