.login-form {
  margin: auto;
  margin-top: 180px;
  width: 500px;
  border: 2px solid grey;
  padding: 10px;
  display: block;
  flex-direction: row;
  border-radius: "30px";
  justify-content: "space-between";
}

.login-body {
  display: flex;
  flex-direction: column;
}

.login-form-button {
    padding: 0%;
    position: relative;
}

.login-forget-button {
  margin-left: 20px;
  position: relative;
}
