.register-form {
  margin: auto;
  width: 50%;
  border: 2px solid grey;
  padding: 10px;
  position: absolute;
  flex-direction: row;
  margin-left: 350px;
  max-width: 450px;
  border-Radius: "30px";
  justify-content: "space-between";
}
.register-form-button {
  width: 200%;
  margin-left: 20px;
}
.register-title {
  margin-left: 320px;
  padding-top: 70px;
}
/* .register-username-text {
  position: relative;
  top: 0;
  left: 0;
  padding: 10px;
  justify-content: "center";
  align-items: "center";
} */
