.thread-page {
  max-width: 1200px;
  width: 100%;
  margin: 100px 50px 10px 50px;
  box-shadow: 0 0 5px #ccc;
  display: inline-block;
}
.thread-wrapper {
 
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 50px 40px;
}
