.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      max-width: 600px;
      min-width: auto;
    }
    h1 {
      text-align: center;
    }
  }
  